html,body{
	height:100%;
	width:100%;
}

.center-link{
	display: flex;
	justify-content: center;
}

.col-fix{
	max-width: 28.666667% !important;
}

.form-hide{
	display:none !important;
}

p:hover{
 cursor: pointer;
}
