.index-footer-logo-wrap{
	margin:0 auto;
	padding-top: 5%;
}

a{
	outline: none;
}
.index-text-wrap{
	text-align: center;
	padding: 2%;
}
.index-text-title{
	font-size: 25px;
	font-weight: 900;
	padding-bottom: 20px;
}
