.page-body-wrap{
	padding:2.2% 1.4%;
}

.page-body{	
	min-height:550px;
	width:100%;
	background-color:#f8f9fa !important;
	box-shadow: 10px 10px 20px 2px grey;
}

.table-container{
	padding: 5% 4%;
}

.body-nav{
	padding: 2% 4%;
	background-color: #fff;
	color: #9fceff;	
	text-transform: uppercase;
	
}

.body-nav > ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

textarea {
	resize: none;
}

.nav-item:first-child{
	padding-left: 10px;
}

li:first-child{
	padding-left: 0px;
}

ul li{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	color: #9fceff;	
}

.body-nav > ul >.info-tab > a{
	text-decoration: none;
	outline-style: none;
}

.active-tab > a, .active-tab > a:hover, .active-tab > a:visited{
	color:#007bff;
}

li > a{
	outline:none;
	text-decoration:none !important;	
	color: #9fceff;
}

li > a:visited{
	color: #9fceff;
}

.quick-links > li > a, li > a:hover{
	color:#007bff;	
}

.table-nums{
	padding: 1%;
	text-align: center;
}

.table-nums > span{
	padding: 1%;
	display: inline-block;
}

.table-nums > span > a{
	color: #5eacff;
	padding-right: 10px;
}

.page-active{
	color: #007bff !important;
}

.form-group > div .notes{
	height: 123px;
}

.tab-view-hide{
	display:none;
}
